global
    log stdout format raw local0
    maxconn 256

defaults
    log     global
    mode    http
    timeout connect 5s
    timeout client  50s
    timeout server  50s

frontend http_front
    bind *:80
    default_backend nginx_back

backend nginx_back
    server nginx1 nginx-backend:80 check

